.navbar-inverse {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.navbar-inverse .navbar-brand {
    color: #d8d8d8 !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #d8d8d8 !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff !important;
    background-color: #224f75 !important;
}

.logo {
    background: url("/theme/img/background.jpg");
    background-size: cover;
    height: 600px;

    text-align: center;
    font-size: 100px;
    text-shadow: 3px 3px 1px #464444;
}

.logo > a {
    color: #000000;
}

.logo > a:hover {
    color: #000000;
    text-decoration: none;
}

#contact {
    list-style: none;
}

#contact > li {
    float: left;
    margin: 5px;
}

#contact > li > a > img {
    width: 64px;
}

.literal {
    background-color: #ffded3;
}

h1 > a {
    color: black;
}

h1 > a:hover {
    text-decoration: none;
}

article {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

pre {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    background: #f5f4f4;
}
