.logo {
    background: url("/theme/img/background.jpg");
    background-size: cover;
    height: 600px;

    text-align: center;
    font-size: 100px;
    text-shadow: 3px 3px 1px #464444;
}

.logo > a {
    color: #000000;
}

.logo > a:hover {
    color: #000000;
    text-decoration: none;
}

#contact {
    list-style: none;
    width: 33%;
    margin: auto;
}

#contact > li {
    float: left;
    margin: 5px;
}

#contact > li > a > img {
    width: 64px;
}

.literal {
    background-color: #ffded3;
}

h1 > a {
    color: black;
}

h1 > a:hover {
    text-decoration: none;
}

article {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

pre {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    background: #f5f4f4;
}

#copyright {
    text-align: center;
}

article {
    margin-top: 45px;
}

time {
    color: #909090;
}

.tag {
    border: 1px solid #000;
    padding: 12px;
    border-radius: 20px;
}

.tag:hover {
    text-decoration: none;
}

#pages {
    text-align: center;
}

#newer-link {
    text-align: right;
}

#pagination {
    margin-bottom: 45px;
}

footer {
    margin-bottom: 45px;
}
