body {
    background-color: #dcdcdc !important;
}

.navbar-inverse {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.navbar-inverse .navbar-brand {
    color: #d8d8d8 !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #d8d8d8 !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff !important;
    background-color: #224f75 !important;
}

.logo {
    background: url("/theme/img/laptop.jpg");
    background-size: cover;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-size: 100px;
    text-shadow: 3px 3px 1px black;
}

.logo > a {
    color: white;
}

.logo > a:hover {
    color: white;
    text-decoration: none;
}

#contact {
    list-style: none;
}

#contact > li {
    float: left;
    margin: 5px;
}

#contact > li > a > img {
    width: 64px;
}

.literal {
    background-color: #ffded3;
}