{% extends "base.html" %}
{% block head %}
{{ super() }}
{% if article.description %}
<meta name="description" content="{{article.description}}"/>
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}"/>
{% endfor %}

{% endblock %}

{% block content %}
<section id="content">
  {% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{{ SITEURL }}/">Home</a></li>
    <li><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></li>
    <li class="active">{{ article.title }}</li>
  </ol>
  {% endblock %}
  <div class="panel panel-default">
    <div class="panel-body">
      <article>
        <header>
          <h3 class="entry-title">
            <a href="{{ SITE_URL }}/{{ article.category.url }}">
              {{ article.category }}
            </a>
            &rarr;
            {{ article.title }}
          </h3>
        </header>
        <span class="glyphicon glyphicon-calendar" title="Created"></span>
        <time class="published" datetime="{{ article.date.isoformat() }}">
          {{ article.locale_date }}
        </time>
        {% if article.authors %}
        <address class="vcard author">
          {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">@{{ author }}</a>
          {% endfor %}
        </address>
        {% endif %}
        <div class="entry-content">
          {{ article.content }}
        </div><!-- /.entry-content -->
        <footer>
          {% for tag in article.tags %}
          <a href="{{ SITE_URL }}/{{ tag.url }}"><span class="glyphicon glyphicon-tag"></span> {{ tag }}</a>
          {% endfor %}
        </footer>
        {% include 'disqus.html' %}
      </article>
    </div>
  </div>
</section>
{% endblock %}
