{% extends "base.html" %}
{% block head %}
{{ super() }}
{% if article.description %}
<meta name="description" content="{{article.description}}"/>
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}"/>
{% endfor %}

{% endblock %}

{% block content %}
<section id="content">
  <div class="panel panel-default">
    <div class="panel-body">
      <article>
        <header>
          <h1 class="entry-title">
            {{ article.title }}
          </h1>
        </header>
        <span class="glyphicon glyphicon-calendar" title="Created"></span>
        <time class="published" datetime="{{ article.date.isoformat() }}">
          {{ article.locale_date }}
        </time>
        <p>{{ article.content }}</p>
        <footer>
          {% for tag in article.tags %}
          <a class="tag" href="{{ SITE_URL }}/{{ tag.url }}"><span class="glyphicon glyphicon-tag"></span> {{ tag }}</a>
          {% endfor %}
        </footer>
        {% include 'disqus.html' %}
      </article>
    </div>
  </div>
</section>
{% endblock %}
