{% extends "base.html" %}
{% block content %}
<section id="content">
  {% for article in articles_page.object_list %}
  <div class="panel panel-default">
    <div class="panel-body">
      <article>
        <header>
          <h1>
            <a href="{{ SITEURL }}/{{ article.url }}"
               rel="bookmark"
               title="Permalink to {{ article.title|striptags }}">
              {{ article.title}}
            </a>
          </h1>
        </header>
        <span class="glyphicon glyphicon-calendar"></span>
        <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
        <p>{{ article.summary }}</p>
        <footer>
          {% for tag in article.tags %}
          <a href="{{ SITE_URL }}/{{ tag.url }}"><span class="glyphicon glyphicon-tag"></span> {{ tag }}</a>
          {% endfor %}
        </footer>
      </article>
    </div>
  </div>
  {% endfor %}
  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}
</section><!-- /#content -->
{% endblock content %}
