{% extends "base.html" %}
{% block title %}{{ page.title }}{%endblock%}
{% block content %}
<section id="content">
  {% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{{ SITEURL }}/">Home</a></li>
    <li class="active">{{ page.title }}</li>
  </ol>
  {% endblock %}
  <div class="panel panel-default">
    <div class="panel-body">
      <article>
        <header>
          <h3 class="entry-title">
            {{ page.title }}
          </h3>
        </header>
        <div class="entry-content">
          {{ page.content }}
        </div><!-- /.entry-content -->
      </article>
    </div>
  </div>
</section>
{% endblock %}
